<div id="uploadForm">
  <div class='btn'>
    <input type="file" id="upload-images">
  </div>
  <button type="button" id="upload" class='btn btn-primary'>上传</button>
</div>

<img src="" class="preview-image thumbnail" alt=''>