.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid gray;
  }
}

.user-form{
  width: 400px;
  margin: 0 auto;

  .login-form {
    max-width: 300px;
  }
  .login-form-forgot {
    float: right;
  }
  .ant-btn-primary{
    display: block;
    width: 100%;
  }
  .signup{
    .ant-col-sm-8{
      width: 81px;
    }
    .ant-btn-primary{
      width: 270px;
      margin-left: 80px;
    }
  }
}